[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = alex-silcock
	email = 54852303+alex-silcock@users.noreply.github.com
