/* This is a CSS file */
h2 {
  color: blue
}

#welcome {
  background-color: black
}

h1 {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
  color: #fff;
}
h3 {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
  color: #fff;
}